# Ignorar arquivos de cache do Python
__pycache__/
*.pyc

# Ignorar ambientes virtuais (se você estiver usando um)
venv/
env/
.venv/

# Ignorar os DFDs gerados nos testes, mas manter a pasta de templates
DFD_*.docx

# Banco de dados local
*.db
*.sqlite3
banco_5blog.db

# Ignorar o diretório virtual caso decida criar um
venv/
env/